<div class="default-width ma-auto mo-px-20">
  <div class="w-full flex justify-between items-center relative">
    <img class="header-logo-img block pointer btn_link_page" data-page="index" src="images/dxr_logo.png" alt="DXR로고">

    <div class="flex items-center gap-25">
      <ul class="flex items-center gap-25 main-menu-list" id="side_menu">
        <li class="relative main-menu-li block py-30 trans-white-color font-bold main-menu-a pointer btn_link_page" tabindex="0" data-page="tech">Tech</li>
        <li class="relative main-menu-li block py-30 trans-white-color font-bold main-menu-a pointer btn_link_page" tabindex="0" data-page="robot">Product
          <ul class="absolute sub-menu">
            <li class="block w-full py-15 sub-menu-a font-14 default-color pointer btn_sub_link_page" tabindex="0" data-page="robot">로봇</li>
            <li class="block w-full py-15 sub-menu-a font-14 default-color pointer btn_sub_link_page" tabindex="0" data-page="vision">비전</li>
          </ul>
        </li>
        <li class="relative main-menu-li block py-30 trans-white-color font-bold main-menu-a pointer btn_link_page" tabindex="0" data-page="robot_info">Solution
          <ul class="absolute sub-menu">
            <li class="block w-full py-15 sub-menu-a font-14 default-color pointer btn_sub_link_page" tabindex="0" data-page="robot_info">로봇 적용분야</li>
            <li class="block w-full py-15 sub-menu-a font-14 default-color pointer btn_sub_link_page" tabindex="0" data-page="vision_info">비전 적용분야</li>
          </ul>
        </li>
        <li class="relative main-menu-li block py-30 trans-white-color font-bold main-menu-a pointer btn_link_page" tabindex="0" data-page="about">About Us
          <ul class="absolute sub-menu">
            <li class="block w-full py-15 sub-menu-a font-14 default-color pointer btn_sub_link_page" tabindex="0" data-page="about">연혁&팀 컬쳐</li>
          </ul>
        </li>
        <li class="relative main-menu-li block py-30 trans-white-color font-bold main-menu-a pointer btn_link_page" tabindex="0" data-page="contact">Contact</li>
      </ul>
      <div class="relative btn-lang pointer py-30" tabindex="0">
        <p class="trans-white-color font-bold">Lang</p>
        <ul class="absolute lang-menu">
          <li class="pointer font-14 default-color sub-menu-a block w-full py-15 btn_page_lang" data-lang="ko" tabindex="0">한국어</li>
          <li class="pointer font-14 default-color sub-menu-a block w-full py-15 btn_page_lang" data-lang="en" tabindex="0">English</li>
        </ul>
      </div>
      <div class="relative btn-menu-div pointer" id="btn_view_menu" tabindex="1">
        <span class="absolute line line-1"></span>
        <span class="absolute line line-2"></span>
        <span class="absolute line line-3"></span>
        <span class="absolute line line-4"></span>
      </div>
    </div>
  </div>

</div>